@import url('https://cdn.streamelements.com/scripts/animate.min.css');
@import url('https://fonts.googleapis.com/css2?family=Ballet');
@import url('https://fonts.googleapis.com/css2?family=Castoro+Titling');
  
* {
    font-family: 'Castoro Titling', serif;
}

/* to center the card on a 100vh screen */

.content{
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
  
    animation-name: zoomOut;
    animation-duration: 0.8s;
	animation-delay: 2s;
	animation-fill-mode: forwards;
}


.awsome-text-container {
    font-size: 42px;
    font-weight: bold;
}

/*-- tarot card styling  ----------------------------- */

.card{
	width: 448px;
	height: 648px;
	background: #222;
  	text-align: center;
 	border-radius: 20px;	
  	position: relative;
  
    animation: spin 0.2s linear 3;
    animation-delay: 0.1s;
 	transform-style: preserve-3d;
}

@keyframes spin {
    0%{
       transform: rotateY(0deg);
    }
    100%{
        transform: rotateY(360deg);
    }
}

.card-title{
	font-size: 16px;
  	
  	padding: 10px;
 	margin-bottom: 0px;
}

.front, .back{
	width: 100%;
	height: 100%;
  	position: absolute;
  	align-items: center;
}

.front{
	z-index: 2 ;	
 	backface-visibility: hidden;
    transform:rotateY(0deg);
  	background-color: #222;
}

.back{
	z-index: 1;
    backface-visibility: hidden;
  	transform: rotateY(180deg);
}

.front-img{
	width: 85%;
    height: 80%;
  	margin: auto;
  
  	border: solid #B2A370 2px;
  	border-radius: 15px;
  	background-image: url("https://f2.toyhou.se/file/f2-toyhou-se/images/74660819_7wl5Q0jhOXOuYEQ.jpg");
    background-position: center;
  	background-size: cover;
}

.back-img{
	width: 100%;
    height: 100%;
  	margin: auto;
  
  	border: solid #B2A370 2px;
  	border-radius: 15px;
  	background-color: #222;
  	/*background-image: url(""); */
    background-position: center;
  	background-size: cover;
}

/*-below is from default Alert CSS  ----------------------------- */

.text-container {
    font-size: 16px;
    color: rgb(255, 255, 255);
    text-align: center;
    margin: auto;
    text-shadow: rgba(0, 0, 0, 0.8) 1px 1px 1px;
  
    /* added in for some perspective/3d effect */
  	perspective: 1000px; 

    animation: zoomIn;  
  	animation-duration: 0.2s;   
}

 